.nav-item{
color: rgb(0,0,0);

}
.navbar-nav{
font-size:175%;
font-weight: bold;


}
.nav-link{
    color: black !important;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
}

body {
    padding-top: 70px;
}
.row{
  padding: 10px;
}
footer {

  background-color: rgb(192, 192, 192);
}

img{

 margin: 10px 10px 10px 10px;

}

a:focus {
    outline: 1px dotted #212121 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
}

.text-xs-center {
    text-align: center;
}
